.cards__item {
  margin: 0;
  padding: 0;
  margin-top: 60px;
  width: 240px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.cards__item h3 {
    justify-content: center;
 }
