.kaufman__triangle {
  position: absolute;
  top: 0px;
  right: -210px;
  background-image: url("../../../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: 877px 877px;
  background-position: right top;
  width: 877px;
  height: 877px;
  padding: 0;
  margin-top: 0;
  z-index: -1;
}