.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  position: relative;
  margin-left: 48px;
  z-index: 1;
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity .5s linear .1s;
}

.khan__buy-link:hover {
  opacity: 0.6;
}